nav {
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 10px;
  padding: 5px;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: gray;
}

.active {
  background-color: white;
  color: #242424;
}